@import "tailwindcss";

/* App.css */
@font-face {
  font-family: "Rg";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Rg.otf") format("opentype");
}

.heading-font {
  font-family: "Rg", sans-serif;
  font-weight: normal;
}
